PORT=5000
MONGODB_URI=mongodb+srv://kssanju04_db_user:c088Qwq4TK1pWwN1@cluster0.moxfn8o.mongodb.net/?appName=Cluster0
JWT_SECRET=a_super_secret_key_that_should_be_changed
JWT_EXPIRES_IN=7d
NODE_ENV=development
